//imports
@import './components/button/button.scss';

//colors
$dark-gray-color: #303030;
$light-gray-color: #F5F5F5;
$text-color: #FAEFF2;
$light-text-color: #9A9797;
$info-color: #636363;
$white-color: #ffffff;
$pink-color: #E61F7F;
$lighter-pink-color: #FF89C2;
$light-pink-color: #FAEFF2;
$dark-blue: #000040;
$deActive-color: #DCDCDC;
$light-gold-color: #F9F5F2;

//font-sizes
$font-size-750: 0.750rem;
$font-size-875: 0.875rem;
$font-size-1000: 1rem;
$font-size-1125: 1.125rem;
$font-size-1500: 1.5rem;
$font-size-1750: 1.750rem;
$font-size-2000: 2rem;
$font-size-2750: 2.75rem;
$font-size-3000: 3rem;

@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url('../fonts/yekanbakh/YekanBakh-Fat.eot');
    src: local('YekanBakh-Fat'),
        url('../fonts/yekanbakh/YekanBakh-Fat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Fat.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Fat.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Fat.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/yekanbakh/YekanBakh-Medium.eot');
    src: local('YekanBakh-Medium'),
        url('../fonts/yekanbakh/YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Medium.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Medium.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/yekanbakh/YekanBakh-Bold.eot');
    src: local('YekanBakh-Bold'),
        url('../fonts/yekanbakh/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Bold.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Bold.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/yekanbakh/YekanBakh-Light.eot');
    src: local('YekanBakh-Light'),
        url('../fonts/yekanbakh/YekanBakh-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Light.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Light.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/yekanbakh/YekanBakh-Heavy.eot');
    src: local('YekanBakh-Heavy'),
        url('../fonts/yekanbakh/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Heavy.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Heavy.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/yekanbakh/YekanBakh-Thin.eot');
    src: local('YekanBakh-Thin'),
        url('../fonts/yekanbakh/YekanBakh-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Thin.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Thin.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/yekanbakh/YekanBakh-Regular.eot');
    src: local('YekanBakh-Regular'),
        url('../fonts/yekanbakh/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Regular.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Regular.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh Hairline';
    src: url('../fonts/yekanbakh/YekanBakh-Hairline.eot');
    src: local('YekanBakh-Hairline'),
        url('../fonts/yekanbakh/YekanBakh-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/yekanbakh/YekanBakh-Hairline.woff2') format('woff2'),
        url('../fonts/yekanbakh/YekanBakh-Hairline.woff') format('woff'),
        url('../fonts/yekanbakh/YekanBakh-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Yekan Bakh';
    font-weight: bold;
}

.yekan-bakh-font {
    font-family: 'Yekan Bakh';
    font-weight: bold;
}

.yekan-bakh-fat-font {
    font-family: 'Yekan Bakh Fat';
    font-weight: bold;
}

.font-weight-900 {
    font-weight: 900;
}

.white-color {
    color: $white-color;
}

.text-color {
    color: $text-color;
}

.info-color {
    color: $info-color;
}

.pink-color {
    color: $pink-color;
}

.lighter-pink-color {
    color: $lighter-pink-color;
}

.dark-gray-color {
    color: $dark-gray-color
}

.dark-blue-color {
    color: $dark-blue;
}

.deactive-color {
    color: $deActive-color;
}

.light-text-color {
    color: $light-text-color;
}

.light-gray-color {
    color: $light-gray-color;
}

.white-background {
    background-color: $white-color;
}

.dark-gray-background {
    background-color: $dark-gray-color;
}

.transparent-background {
    background-color: transparent;
}

.pink-background {
    background-color: $pink-color;
}

.light-pink-background {
    background-color: $light-pink-color;
}

.light-gray-background {
    background-color: $light-gray-color;
}

.dark-blue-background {
    background-color: $dark-blue;
}

.light-gold-background {
    background-color: $light-gold-color;
}

.deactive-background {
    background-color: $deActive-color;
    ;
}

.text-color-border {
    border-color: $text-color;
}

.transparent-border-color {
    border-color: transparent;
}

.pink-border-only-bottom {
    border-color: transparent;
    border-bottom: $pink-color solid 2px;
}

.pink-border-bottom {
    border-color: $pink-color;
    border-bottom-width: 4px;
}

.pink-border {
    border-color: $pink-color;
    border-width: 1px;
    border-style: solid;
}

.font-size-750 {
    font-size: $font-size-750;
}

.font-size-875 {
    font-size: $font-size-875;
}

.font-size-1000 {
    font-size: $font-size-1000;
}

.font-size-1125 {
    font-size: $font-size-1125;
}

.font-size-1500 {
    font-size: $font-size-1500;
}

.font-size-1750 {
    font-size: $font-size-1750;
}

.font-size-2000 {
    font-size: $font-size-2000;
}

.font-size-2750 {
    font-size: $font-size-2750;
}

.font-size-3000 {
    font-size: $font-size-3000;
}

.purchase-message {
    border: rgb(206, 205, 205) 1px solid;
}

.purchase-message::placeholder {
    color: rgb(220, 220, 220);
    font-size: 0.75rem;
}

.long-input {
    height: 80px;
}

.circle-button {
    width: 45px;
    height: 45px;
}

.main-search::placeholder {
    font-size: $font-size-750;
}

.cursor-pointer {
    cursor: pointer;
}