.title-banner {
    min-height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.terms-container {
    max-height: 500px;
    overflow-y: auto;
}