.signing-banner {
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .signing-banner {
        height: 300px
    }
}

@media (min-width: 768px) {
    .signing-banner {
        height: 100vh;
    }
}

.icon-border {
    border-top: rgb(206, 205, 205) 1px solid;
    border-left: rgb(206, 205, 205) 1px solid;
    border-bottom: rgb(206, 205, 205) 1px solid;
}

.input-border {
    border-top: rgb(206, 205, 205) 1px solid;
    border-right: rgb(206, 205, 205) 1px solid;
    border-bottom: rgb(206, 205, 205) 1px solid;
    border-left: 0rem;
}

.input-border::placeholder {
    color: rgb(220, 220, 220);
    font-size: 0.75rem;
}